.register-container {
  height: 100vh;
  background: linear-gradient(to right, #000000, #5a0000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  background-color: black;
  padding: 2rem;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
  text-align: center;
}

.register-form h2 {
  color: #c90000;
  margin-bottom: 1.5rem;
}

.register-input {
  width: 90%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #c90000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #9e0000;
}
@media (max-width: 768px) {
  .register-form {
    width: 80%;
    padding: 1.5rem;
  }

  .register-form h2 {
    font-size: 1.6rem;
  }

  .register-form input {
    width: 80%;
    font-size: 1rem;
  }

  .register-button {
    font-size: 1rem;
    padding: 0.65rem;
  }

  .register-toggle-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .register-container {
    padding: 1rem;
    width: 80%;
  }

  .register-form {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  }

  .register-form h2 {
    font-size: 1.4rem;
  }

  .register-button {
    padding: 0.6rem;
    font-size: 0.95rem;
  }

  .register-toggle-text {
    text-align: center;
    font-size: 0.85rem;
  }
}
