.register-container {
  height: 100vh;
  background: linear-gradient(to right, #000000, #5a0000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  background-color: black;
  padding: 2rem;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
  text-align: center;
}

.register-form h2 {
  color: #c90000;
  margin-bottom: 1.5rem;
}

.register-input {
  width: 90%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #c90000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #9e0000;
}
